<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302809044007-6771qt2a27i2ao3l8el6l1cs3vcabncn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302809044007-6771qt2a27i2ao3l8el6l1cs3vcabncn</string>
	<key>API_KEY</key>
	<string>AIzaSyDQThtDP0akXA8BTqHnWnrhwdWbOchQ66U</string>
	<key>GCM_SENDER_ID</key>
	<string>302809044007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ishonch.com.ishonch</string>
	<key>PROJECT_ID</key>
	<string>ishonch-424ae</string>
	<key>STORAGE_BUCKET</key>
	<string>ishonch-424ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302809044007:ios:d15a132fbfbbfa5e56aa02</string>
</dict>
</plist>